$orange-bg-color : rgb(248, 86, 6);
$text-white : white;
$body-bg-color : rgb(245, 245, 245);
$orange-text-color: rgb(248, 86, 6);
$orange-shade-color : rgb(255, 104, 1);
$orange-dark-color :rgb(203, 81, 0);